h1 {
margin: 40px;
padding: 20px;
border-bottom: 5px solid #000000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: #000000 1px solid;
    width: 150px;
    padding: 0%;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #ff0000;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 20px;
    background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);

}  

nav li a:hover {
    color: maroon; 
    background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);

}

.blockimg {
    display: block;
    margin-bottom: 20px;
}

.bordertop {
    border-top: 5px solid #ff0000;
}

.borderbottom {
    border-bottom: 5px solid #00ff00;
}
.borderright {
    border-right: 5px solid #0000ff;
}

.borderleft {
    border-left: 5px solid #ff00ff;
}

.rainbowborder {
  border-top: 1px solid #ff0000;
  border-bottom: 2px solid #00ff00;
  border-right: 3px solid #0000ff;
  border-left: 4px solid #ff00ff;
}    